@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

@lightnessIncrease: 30;

@common: hsl(0, 0%, 48%);
@commonLight: hsl(hue(@common), saturation(@common), lightness(@common) + @lightnessIncrease);
@uncommon: hsl(97, 73%, 27%);
@uncommonLight: hsl(hue(@uncommon), saturation(@uncommon), lightness(@uncommon) + @lightnessIncrease);
@rare: hsl(211, 80%, 35%);
@rareLight: hsl(hue(@rare), saturation(@rare), lightness(@rare) + @lightnessIncrease);
@epic: hsl(277, 67%, 45%);
@epicLight: hsl(hue(@epic), saturation(@epic), lightness(@epic) + @lightnessIncrease);
@legendary: hsl(27, 100%, 51%);
@legendaryLight: hsl(hue(@legendary), saturation(@legendary), lightness(@legendary) + @lightnessIncrease);

h1 {
     
}

main {
     display: flex;
     
     div#newWeapon {
          position: relative;
          width: 200px;
          height: 300px;
          
          border: 1px solid rgba(0, 0, 0, 1/3);
          
          cursor: pointer;
          
          i {
               position: absolute;
               top: 300px / 2 - 48px / 2;
               left: 200px / 2 - 48px / 2;
          }
     }
     
     div.weapon {
          margin: 5px;
          color: white;
          
          &.common {
               background-color: @common;
               
               div.results {
                    background-color: @commonLight;
               }
          }
          &.uncommon {
               background-color: @uncommon;
               
               div.results {
                    background-color: @uncommonLight;
               }
          }
          &.rare {
               background-color: @rare;
               
               div.results {
                    background-color: @rareLight;
               }
          }
          &.epic {
               background-color: @epic;
               
               div.results {
                    background-color: @epicLight;
               }
          }
          &.legendary {
               background-color: @legendary;
               
               div.results {
                    background-color: @legendaryLight;
               }
          }
          
          header {
               display: block;
               height: 30px;
               
               select {
                    display: inline-block;
               }
               
               div.delete {
                    display: inline-block;
                    float: right;
                    height: 24px + 3 * 2;
                    width: 24px + 3 * 2;
                    padding: 3px;
                    
                    background-color: #b00000;
                    color: white;
               }
          }
          
          div.variations {
               display: inline-flex;
               float: left;
               
               > div.variation {
                    margin: 10px 5px;
                    
                    &:first-child {
                         margin-left: 10px;
                    }
                    
                    &:last-child {
                         margin-right: 10px;
                    }
                    
                    div.perks {
                         display: flex;
                         flex-direction: column;
                         
                         div.perkRow {
                              border-bottom: 1px solid white;
                              
                              &:first-child {
                                   border-top: 1px solid white;
                              }
                              
                              &:last-child {
                                   border-bottom: none;
                              }
                              
                              span.perkName {
                                   display: block;
                              }
                         }
                    }
               }
          }
          
          div.results {
               display: inline-flex;
               float: right;
               
               color: black;
               
               > div.variation {
                    margin: 10px 5px;
                    
                    &:first-child {
                         margin-left: 10px;
                    }
                    
                    &:last-child {
                         margin-right: 10px;
                    }
                    
                    div.stats {
                         display: flex;
                         flex-direction: column;
                         
                         div.statRow {
                              border-bottom: 1px solid white;
                              
                              &:first-child {
                                   border-top: 1px solid white;
                              }
                              
                              &:last-child {
                                   border-bottom: none;
                              }
                              
                              span.variation {
                                   &.positive {
                                        color: green;
                                        font-weight: bold;
                                   }
                                   &.negative {
                                        color: red;
                                        font-weight: bold;
                                   }
                              }
                         }
                    }
               }
          }
     }
}